<%- include partials/header.ejs %>

    <%- include partials/main_nav.ejs %>




        <!-- Main Content -->
        <main class="container">
            <div class="jumbotron">
                <h1 class="display-4">Welcome to the <%= title %> page</h1>
                <h3>France Patrick Po-on</h3>
                <img src="https://scontent-ord5-2.xx.fbcdn.net/v/t39.30808-6/387084555_7293855060627740_5418886859407143432_n.jpg?stp=cp6_dst-jpg&_nc_cat=102&ccb=1-7&_nc_sid=49d041&_nc_ohc=vjDhys088nEAX-qoRqD&_nc_ht=scontent-ord5-2.xx&oh=00_AfAmx9Jsud56XS-qmUeQks859FD-YVV1d7QvBXMXTju1VA&oe=6527B9C3"
                    alt="photo" height="30%" width="20%">

                <p>Hi, my name is France Patrick Po-on and I'm an international student.
                    I'm currently taking Software Engineering Technician program at Centennial College.
                    My hobbies are reading articles about technology and watching videos about programming.</p>

                <p>I am a strong team player and am comfortable working in a fast-paced, high-stress environment. I am
                    also able to effectively communicate technical information to non-technical individuals, which has
                    helped me successfully assist a diverse range of clients.</p>

                <a href="/public/Resume.pdf" download>Download Resume (PDF)</a>
            </div>



        </main>





        <%- include partials/bottom_nav.ejs %>

            <%- include partials/footer.ejs %>