<%- include partials/header.ejs %>

    <%- include partials/main_nav.ejs %>

        <script>
            // JavaScript to handle form submission and redirection
            document.getElementById("contact-form").addEventListener("submit", function (event) {
                // Prevent the default form submission behavior
                event.preventDefault();

                // You can add code here to send the form data to your server (e.g., using AJAX)

                // Redirect back to the Home Page (replace "index.html" with your actual home page URL)
                window.location.href = "index.html";
            });
        </script>


        <!-- Main Content -->
        <main class="container">
            <div class="jumbotron">
                <h1 class="display-4">Welcome to the <%= title %> page</h1>
                <!-- Contact Page -->
                <div id="contact">
                    <h2>Contact Us</h2>
                    <div id="contact-info">
                        <p>francepatrickpoon@gmail.com</p>
                        <p>Phone: (437) 214-9799</p>
                        <p>Address: Toronto, Ontario</p>
                    </div>
                    <h3>Send us a message</h3>
                    <form action="submit.php" method="post">
                        <label for="first-name">First Name:</label>
                        <input type="text" id="first-name" name="first-name" required><br>

                        <label for="last-name">Last Name:</label>
                        <input type="text" id="last-name" name="last-name" required><br>

                        <label for="contact-number">Contact Number:</label>
                        <input type="tel" id="contact-number" name="contact-number" required><br>

                        <label for="email">Email Address:</label>
                        <input type="email" id="email" name="email" required><br>

                        <label for="message">Message:</label>
                        <textarea id="message" name="message" rows="4" required></textarea><br>

                        <input type="submit" value="Submit">
                    </form>

                </div>
            </div>



        </main>





        <%- include partials/bottom_nav.ejs %>

            <%- include partials/footer.ejs %>