<%- include partials/header.ejs %>

  <%- include partials/main_nav.ejs %>


    <!-- Main Content -->
    <main class="container">
      <div class="jumbotron">
        <h1 class="display-4">Welcome to the <%= title %> page</h1>
        <br>
        <h2>Mission Statement</h2>
        <p>My mission as a web developer is to create innovative, user-centric digital experiences that empower
          businesses and individuals to thrive in the digital world. I am committed to delivering high-quality,
          responsive, and visually appealing websites and web applications that not only meet but exceed my clients'
          expectations. My goal is to harness the power of cutting-edge technologies and best practices to enhance
          online presence, optimize user engagement, and drive success for our clients, while maintaining a strong focus
          on accessibility, security, and sustainability. I am dedicated to continuous learning and improvement,
          staying at the forefront of web development trends, and providing exceptional service to help my clients
          achieve their online goals.</p>
      </div>
    </main>

    <%- include partials/bottom_nav.ejs %>

      <%- include partials/footer.ejs %>