<%- include partials/header.ejs %>

    <%- include partials/main_nav.ejs %>


        <!-- Main Content -->
        <main class="container">
            <div class="jumbotron">
                <h1 class="display-4">Welcome to the <%= title %> page</h1>
                <p>Simple Cafe Menu that I made using HTML and CSS

                </p>
                <img src="https://scontent-ord5-1.xx.fbcdn.net/v/t39.30808-6/386744756_7293932343953345_9010759150680445775_n.jpg?_nc_cat=109&ccb=1-7&_nc_sid=49d041&_nc_ohc=CoeA9-NaalgAX_N1Jo9&_nc_ht=scontent-ord5-1.xx&oh=00_AfDAU1YWOgByNccRjtRqG9vB2GbStrgd7p6Oj4gKUuOZJw&oe=65272D46"
                    alt="" height="50%" width="50%">
                <hr>


                <p>Registration Form that I made using HTML and CSS</p>
                <img src="https://scontent-ord5-1.xx.fbcdn.net/v/t39.30808-6/386742767_7293932360620010_857660112622140736_n.jpg?_nc_cat=106&ccb=1-7&_nc_sid=49d041&_nc_ohc=j5QWQ4XnrSoAX-S4fbW&_nc_ht=scontent-ord5-1.xx&oh=00_AfCNsL-026pll8LUByMTdC-3VmnQg9h31x1iomveLARRbg&oe=65282AA1"
                    alt="" height="50%" width="50%">
                <hr>


                <img src="https://scontent-ord5-1.xx.fbcdn.net/v/t39.30808-6/387056618_7293932393953340_8715343007556432102_n.jpg?_nc_cat=101&ccb=1-7&_nc_sid=49d041&_nc_ohc=89w3mxpbs7cAX_EUpmi&_nc_ht=scontent-ord5-1.xx&oh=00_AfCiyXWQuEylO_FvabfTJFdQPd5WigSt_TFtIxYRJJosSA&oe=65287310"
                    alt="" height="50%" width="50%">

            </div>
        </main>

        <%- include partials/bottom_nav.ejs %>

            <%- include partials/footer.ejs %>