<%- include partials/header.ejs %>

    <%- include partials/main_nav.ejs %>




        <!-- Main Content -->
        <main class="container">
            <div class="jumbotron">
                <h1 class="display-4">Welcome to the <%= title %> page</h1>
                <!-- Services Page -->
                <div id="services">
                    <h2>Our Services</h2>
                    <ul>
                        <li>
                            <h3>General Programming</h3>
                            <p>Our experts deliver versatile programming solutions. From software development to
                                scripting, we create efficient, reliable code tailored to your needs.</p>
                            <img src="https://www.onlc.com/blog/wp-content/uploads/2017/07/ONLC-2017-4.png"
                                alt="Programming Image">

                        </li>
                        <hr>
                        <li>
                            <h3>Web Development</h3>
                            <p>We build eye-catching, responsive websites and web applications. Our focus is on
                                user-friendly design and high-performance functionality for a seamless online
                                experience.</p>
                            <img src="https://miro.medium.com/v2/resize:fit:1200/1*V-Jp13LvtVc2IiY2fp4qYw.jpeg"
                                alt="Web Development Image" width="50%">

                        </li>
                        <hr>
                        <li>
                            <h3>Mobile Apps</h3>
                            <p>We develop user-centric iOS and Android apps. Whether it's a consumer app, a business
                                tool, or a game, we turn your ideas into mobile reality for a wider audience.</p>
                            <img src="https://www.etatvasoft.com/blog/wp-content/uploads/2022/08/mobile-app-development-methodologies.jpg"
                                alt="Mobile Apps Image">

                        </li>
                    </ul>
                </div>
            </div>

        </main>


        <%- include partials/bottom_nav.ejs %>

            <%- include partials/footer.ejs %>